<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="userInfo">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand" href="#">Event Organizer</a>
            </div>

            <div id="user-data" th:if="${username != null}">
                <div>
                    <span th:text="${username}"></span>
                </div>
                <div>
                    <form method="POST" th:action="@{/logout}">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                        <button class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>