.btn-social{
    position:relative;
    padding-left:61px;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.btn-social :first-child{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:45px;
    line-height:45px;
    font-size:1.8em;
    text-align:center;
    border-right:1px solid rgba(0,0,0,0.2)
}

.btn-facebook{
    color:#fff;
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2)
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open>.dropdown-toggle.btn-facebook{
    color:#fff;
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2)
}

.btn-facebook:active,
.btn-facebook.active {
    background-image:none
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active{
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2)
}
