#user-data {
    float: right;
    margin-top: 7px;
}

#user-data div {
    display: inline-block;
}

#user-data :first-child {
    margin-left: 20px;
}

.group-container {
    width: 100%;
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 0 10px 20px;
    margin-bottom: 15px;
}

.new-msg-form-container {
    width: 100%;
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 10px;
    background-color: gainsboro;
}

.new-msg-input {
    width: 89%;
    height: 34px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid darkgrey;
}

.new-msg-btn {
    width: 10%;
}

