<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Event Organizer</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />

<div th:replace="fragments/header"></div>

<div class="container">

    <h2><span th:text="${event.getName()}"></span></h2>
    <hr/>
    <h5 th:if="${event.getStartTime() != null}">
        <b>Start time: </b><span th:text="${event.getStartTime()}"></span>
    </h5>
    <h5 th:if="${event.getEndTime() != null}">
        <b>End time: </b><span th:text="${event.getEndTime()}"></span>
    </h5>
    <h5 th:if="${event.getPlace()?.getName() != null}">
        <b>Place: </b><span th:text="${event.getPlace().getName()}"></span>
    </h5>
    <h5 th:if="${event.getDescription() != null}">
        <b>Description: </b><span th:text="${event.getDescription()}"></span>
    </h5>
    <br/>
    <div class="new-msg-form-container">
        <form action="#" th:action="@{/events/message/new}" th:object="${newMsg}" method="POST">
            <input type="text" class="new-msg-input" name="msg" placeholder="Your message" th:field="*{content}" />
            <input type="hidden" name="msgId" th:value="${event.getId()}" />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <input class="btn btn-warning new-msg-btn" type="submit" value="Add" />
        </form>
    </div>
    <br/>
    <div class="group-container" th:each="eventPost : ${eventPosts}">
        <h4 th:if="${eventPost.getPost().message != null}" th:text="${eventPost.getPost().message}"></h4>

        <div th:each="comment : ${eventPost.comments}">
            <div th:if="${comment.getMessage() != null}">
                <hr/>
                <b><span th:text="${comment.getFrom().getName()}" ></span> - (<span th:text="${comment.getCreatedTime()}" ></span>)</b>
                <br/>
                <span th:text="${comment.getMessage()}" ></span>
            </div>
        </div>
        <br/>
        <div class="new-msg-form-container">
            <form action="#" th:action="@{/events/comment/new}" th:object="${newMsg}" method="POST">
                <input type="text" class="new-msg-input" name="msg" placeholder="Your comment" th:field="*{content}" />
                <input type="hidden" name="msgId" th:value="${eventPost.getPost().getId()}" />
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input class="btn btn-warning new-msg-btn" type="submit" value="Add" />
            </form>
        </div>
    </div>

</div>
</body>
</html>