<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Event Organizer</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

    <script src="js/script.js"></script>
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />

<div th:replace="fragments/header"></div>

<div class="container">

    <div class="group-container" th:each="group : ${eventGroups}">
        <h3 th:text="${group.key}"></h3>
        <div>
            <ul>
                <li class="invitation" th:each="invitation : ${group.value}">
                    <p>
                        <a th:href="@{/events/{id}(id=${invitation.eventId})}" th:text="${invitation.name}"></a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>