<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Event Organizer</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />

</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" ></script>

<div th:replace="fragments/header"></div>

<div class="container">

    <table style="border-collapse: separate; border-spacing: 2px">
        <tr>
            <td>
                <a th:href="@{/authenticate/facebook}" class="btn btn-social btn-lg btn-facebook">
                    <i class="fa fa-facebook"></i>Connect with Facebook
                </a>
            </td>
        </tr>
    </table>

    <div th:include="fragments/exception :: errorInfo"></div>

</div>
</body>
</html>